<header>
  <mat-toolbar class="toolbar" color="primary">
    <div class="toolbar__content">
      <button
        mat-icon-button
        [matMenuTriggerFor]="lateralMenu"
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #lateralMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>fitness_center</mat-icon>
          <span>Ginásio</span>
        </button>
        <button mat-menu-item>
          <mat-icon>group</mat-icon>
          <span>Comunidade</span>
        </button>
      </mat-menu>
      <div class="image-container">
        <img src="assets/logo.png" alt="logo" (click)="navigateToHome()" />
      </div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="afterMenu"
        aria-label="Icone do perfil">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item (click)="navigateToProfile()">
          Visualizar perfil
        </button>
        <button mat-menu-item (click)="navigateToHome()">Editar perfil</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
